/*** Service ***/
.service-item {
  position: relative;
  height: 350px;
  padding: 30px 25px;
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background: $primary;

    .service-icon {
      filter: brightness(0) invert(1);
    }
    a {
      &.btn {
        color: $secondary;
        &::before {
          width: 100%;
          background: $light;
        }
      }
    }
  }
  .service-icon {
    & img {
      margin: 0 auto 20px auto;
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $light;
      transition: 0.5s;
    }
  }
  a {
    &.btn {
      position: relative;
      display: flex;
      color: $secondary;
      transition: 0.5s;
      z-index: 1;
      &::before {
        position: absolute;
        content: "";
        width: 35px;
        height: 35px;
        top: 0;
        left: 0;
        border-radius: 35px;
        background: #f1f5f9;
        transition: 0.5s;
        z-index: -1;
      }
    }
  }
}
.service-item h5,
.service-item p {
  transition: 0.5s;
}
.service-item:hover h5,
.service-item:hover p {
  color: $light;
}
