$primary: #0ea5e9;
$primary-light: #eff6ff;
$primary-deep: #1e40af;
$secondary: #22c55e;
$secondary-light: #dcfce7;
$secondary-deep: #166534;
$success: #06b6d4;
$info: #10b981;
$warning: #eab308;
$danger: #ef4444;
$light: #ffff;
$dark: #1e293b;
$nav-pills-border-radius: 5px;
$form-check-input-checked-bg-color: $secondary;
@import "../lib/bootstrap-5.3.2/scss/bootstrap.scss";
@import "bootstrap";
@import "config";
@import "header";
@import "./hero";
@import "./service";
@import "./team";
@import "./testimonial";
@import "./footer";
@import "./blog-home";
@import "./blog";
@import "./tech";
@import "./process";
@import "./theme";
